
.reset_password_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    padding: 2rem;
    background: linear-gradient(135deg, #cedeff, #e1e1e1);
    width: 100%; /* Set width to 100% */
    max-width: none; /* Remove max-width */
  }
.rp_password {
    width: 100%;
    background-color: #f0f0f0;
    margin: 15px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.5rem;
    position: relative;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft inner shadow */
  }

  .reset_password_container img {
    width: 40%;
    border-radius: 15px;
    height: 90%;
  }
  .title_rp {
    
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  .password_rp {
    width: 100%;
    background-color: #f0f0f0;
    margin: 15px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.5rem;
    position: relative;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft inner shadow */
  }
  
  .password_rp input {
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    padding-left: 0.5rem;
  }
  .password_rp input::placeholder {
    color: #aaa;
    font-weight: 500;
  }


  .rp_btn {
    width: 100%;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Button shadow */
  }

  .rp_btn:hover {
    background-color: #4d84e2;
    transform: translateY(-2px); /* Slight hover lift */
  }

 

  @media (max-width: 480px) {
    .reset_password_container img {
        width: 80%;
        border-radius: 15px;
        height: 90%;
        margin-bottom: 10px;
      }
      .password_rp{
        padding-top: 10px;
      }
      .title_rp {
    
       
       padding-top: 10px;
      }

  }